
/* --- Content areas --- */
.container {
	margin-top: 1em;
}

.section-header {
	align: center;
}

.main-content{
	padding: 1em, 0;
	text-align: center;
}

.even {
	background-color: #A7D4DA;
}

.odd {
	background-color: #ffffff;
}


/* --- Carousel stuff --- */
#carousel {
	background-color: #ffffff;
}
.carousel-indicators li {
	background-color: #A7D4DA;
}

.carousel-indicators .active {
	background-color: #A7D4DA;
}

.carousel-inner div {
	text-align: center;
}


/* --- Experience --- */
.experience img {
	max-width: 250px;
	max-height: 70px;
}


/* --- travel --- */
.travel img {
	max-width: 250px;
	max-height: 300px;
}

.travel-item {
	margin: 1em;
}

.travel-item p {
	max-width: 100%;
	text-align: center;
}

/* --- footer --- */

.main-footer{
	text-align: center;
	background-color: black;
	color: white;
}
