/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* end reset */


@font-face {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-style: normal;
}

/* Link behavior */
a:link{
  text-decoration: none;
  color: #3A494C;
}

a:visited{
  text-decoration: none;
  color: #3A494C;
}

a:hover{
  text-decoration: underline;
}

/* Main styles */
body{
	font-family: 'Open Sans';
}

/* Header */
.super-header{
  background-color: #B8C9D9;
}

.content-area {
	padding: 1em 0;
  min-height: 20px;
  width: 80%;
  margin: 0 auto;
}

/* Logo */

.logo {
	float: left;
}

.logo span{
	height: 63px;
	width: 106px;
	display: inline-block;
	background: url("img/logo-small.jpg") no-repeat 0px 0px;

}

.logo a{
  font-family: 'Open Sans';
	font-size: 2em;
	text-transform: uppercase;
  text-decoration: none;
}

/* Top Menu */

.top-menu{
	float:right;
}

.top-menu li {
  float: left;
}
.top-menu ul li{
	display: inline-block;
	margin-left: 2em;
}

.top-menu ul li a{
	font-size: 1.3em;
	padding: 2em 1em;
	display: block;
}


.top-menu ul li a{
  font-size: 1.3em;
  color: #3A494C;
  padding: 0.4em 1em;
  border-radius: 0.5em;
}

.top-menu ul li a:hover{
  background:#3A494C;
  color: white;
}

.gallery img {
  height:auto;
  width: auto;
  max-width: 100%;
}

/* About Section */

.about {
  background-color: #FFFFFF;
  min-height: 950px;
}

.section-header {
  font-family: 'Open Sans';
  text-align: center;
  font-size: 4em;
  color:black;
  margin-top: 50px;
}




.about-item{
  float:left;
  width:31.33%;
  margin-right:2%;
  text-align:center;
}

.about-item img {
    max-width: 250px;
    max-width: 250px;
}

.about-item span{
	font-size: 1.5em;
	color: #323232;
	font-family: trebuchet ms,'open_sansregular';
	font-weight: 900;
	margin:1em 0 0.6em 0;
	display:block;
}

.about-item p{
	line-height:1.5em;
	width:80%;
	margin:0 auto;
}


/* Team section */

.team {
  background-color: #B8C9D9;
  min-height: 550px;
}


.team-item{
  float:left;
  width:31.33%;
  margin-right:2%;
  text-align:center;
}

.team-item img {
    max-width: 250px;
    max-width: 250px;
}

.team-item span{
	font-size: 1.5em;
	color: #323232;
	font-family: trebuchet ms,'open_sansregular';
	font-weight: 900;
	margin:1em 0 0.6em 0;
	display:block;
}

.team-item p{
	line-height:1.5em;
	width:80%;
	margin:0 auto;
}



/* Footer Area */

.footer{
  background-color: black;
  color: white;
}
